<mat-toolbar>
  <span style="cursor: pointer" routerLink="/home-page">Pet Shop</span>
  <button mat-button (click)="handleAboutUs()">About Us</button>
<!--  <span>-->
<!--    <img src="assets/logo3.jfif" routerLink="/home-page" alt="logo" style="max-height: 64px">-->
<!--  </span>-->
  <span class="example-spacer"></span>
  <button *ngIf="!user" mat-button routerLink="/authentication">Authentication</button>
  <button *ngIf="user" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/my-orders">My Orders</button>
    <button *ngIf="user != null && user.role === 'ADMIN'" mat-menu-item routerLink="/manage-orders">Manage Orders</button>
    <button mat-menu-item (click)="doLogout()">Logout</button>
  </mat-menu>
</mat-toolbar>
<app-about-us *ngIf="showAboutUs" (closeAboutUs)="handleAboutUs()"></app-about-us>
