<div class="backdrop"></div>
<div class="details-box">

  <div class="pull-right" style="text-align: right">
    <button mat-raised-button
            color="warn"
            (click)="onClose()"
            type="button"> X </button>
  </div>

  <div class="details-box-actions ">
    <h3><b>Despre noi:</b></h3>
    <p>
      Iubiți animalele de companie mai presus de orice și nu trece nici măcar o zi fără să vă preocupați de bunăstarea și
      satisfacția lor? Pentru noi nu există nimic mai important decât să vă îndeplinim dorințele dumneavoastră și animalului de
      companie - și facem asta peste 20 de ani!
    </p>
    <p> Nevoile animalului dumneavoastră de companie sunt cele mai importante pentru noi.
      Și știm din propria experiență cât de stresantă poate fi căutarea hranei adecvate, a accesoriilor potrivite, precum și a
      jucăriilor. Noi vă oferim tot ceea ce are nevoie animalul dumneavoastră. Fie că este vorba despre niște saci cu hrană sau fân,
      nimic nu ne stă în cale pentru a vă livra tot ceea ce este mai bun. Astfel, nu va mai fi nevoie să cărați cumpărăturile
      voluminoase și veți scăpa de drumurile enervante spre supermarket și înapoi.
    </p>
    <h3><b> Contact: </b></h3>
    <h4><b>Email:</b> pet.shop@yahoo.com</h4>
    <h4><b>Phone number: </b> +07227383625</h4>

  </div>
</div>
