<div class="center-screen" style="text-align: center;">
  <div *ngFor="let cartElement of cart">
    <mat-card *ngIf="cartElement != null" style="max-width: 500px; margin: 5px; display: inline-block">
      <mat-card-title>{{cartElement.product.name}}</mat-card-title>
        <mat-card-subtitle>
          <div *ngIf="cartElement.product.photo !== undefined">
            <img
              src="/assets/image-not-found.png"
              class="img-responsive "
              style="max-height: 100px; max-width: 100%; display: inline-block; margin-right: 20px;"
              [alt]="cartElement.product.name"
            >
            <div style="display: inline-block">
              <h5>Price: {{cartElement.product.price}}.</h5>
              <h5>Breed: {{cartElement.product.forBreed}}</h5>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="cartElement.quantity" (ngModelChange)="onUpdateCart()" matInput type="number" placeholder="Ex. 12" min="1">
                <span matSuffix>pcs.</span>
              </mat-form-field>
            </div>
          </div>
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-button (click)="onDelete(cartElement)">Delete</button>
        </mat-card-actions>
      </mat-card>
  </div>
  <h1><b>Price: </b>{{getPrice()}} RON</h1>
  <button mat-raised-button color="primary" (click)="onPlaceOrder()" > Place Order</button>
</div>
