<div class="center-screen" style="text-align: center;">
  <div *ngIf="!(cart.length == 0)">
    <div *ngFor="let cartElement of cart">
      <mat-card *ngIf="cartElement != null" style="width: 460px;height: 340px; margin: 5px; display: inline-block">
        <mat-card-title>{{cartElement.product.name}}</mat-card-title>
        <mat-card-subtitle>
          <div *ngIf="cartElement.product.photo !== undefined">
            <div class="img-container">
              <img
                [src]="photoUrl + cartElement.product.id"
                class="img-responsive img-element"
                [alt]="cartElement.product.name"
              >
            </div>
            <div style="display: inline-block">
              <h5>Price: {{cartElement.product.price}}.</h5>
              <h5>Breed: {{cartElement.product.forBreed}}</h5>
              <mat-form-field appearance="fill">
                <input [(ngModel)]="cartElement.quantity" (ngModelChange)="onUpdateCart()" matInput type="number" placeholder="Ex. 12" min="1">
                <span matSuffix>pcs.</span>
              </mat-form-field>
              <p *ngIf="!checkStock(cartElement)"> Out of stock!</p>
              <p *ngIf="!checkNumber(cartElement.quantity)"> This is not a valid number!</p>
            </div>
          </div>
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-button (click)="onDelete(cartElement)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <h1><b>Price: </b>{{getPrice()}} RON</h1>
    <button mat-raised-button color="primary" (click)="onPlaceOrder()" [disabled]="!cartChecked"> Place Order</button>
  </div>
  <div *ngIf="cart.length == 0">
    <img src="assets/emptyCart.jpg" style="max-height: 500px" alt="emptyCart">
    <h1>Your cart is empty, go for a shopping session! :)</h1>
  </div>
</div>
