<app-product-details
  *ngIf="showDetails"
  [product]="product"
  (closeDetails)="handleDetails()"></app-product-details>
<app-product-editor
  *ngIf="showEditor"
  [product]="product"
  [editMode]="true"
  (closeEditor)="handleEditor()"></app-product-editor>
<div class="backdrop" *ngIf="product.stock == 0 && editMode == false"></div>
<div>
  <mat-card class="example-card" style="width: 245px; height: 450px; margin: 5px; display: inline-block">
    <mat-card-header style="height: 60px">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <div style="text-align: center;height: 40px">
      <mat-chip-list>
        <mat-chip style="margin-left: 80px" color="primary" *ngIf="product.onSale">On Sale</mat-chip>
        <mat-chip style="margin-left: 60px" color="warn" *ngIf="product.stock == 0">Out of stock!</mat-chip>
      </mat-chip-list>
    </div>
    <div style="height: 250px; width: 215px">
      <img [src]="photoUrl" alt="product_image" style="max-width: 215px; max-height: 250px" >
    </div>
    <p><b>Price: </b>{{product.price}} RON</p>
    <mat-card-actions *ngIf="!editMode">
      <button mat-button (click)="onAddToCart()">Add to Cart</button>
      <button mat-button (click)="handleDetails()">Details</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="editMode">
      <button mat-button color="warn" (click)="onDelete()">Delete product</button>
      <button mat-button color="primary" (click)="handleEditor()">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
