<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
  <app-filter></app-filter>
  </mat-drawer>
  <div class="center-screen">
    <div *ngFor="let product of productList" style="width: 245px; margin: 5px; display: inline-block">
      <app-product [product]="product"></app-product>
    </div>
    <div class="pull-right">
      <div class="button-container">
        <button
          class="floatButton"
          mat-fab
          color="primary"
          [disabled]="isCartEmpty"
          routerLink="/cart"
          matBadge="{{cartQuantity}}"
          matBadgePosition="before"
          matBadgeColor="warn">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>

</mat-drawer-container>

