<app-product-editor
  *ngIf="showEditor"
  (closeEditor)="handleEditor()"
  (listChanged)="refreshTheList()"
></app-product-editor>
<p-sidebar [(visible)]="showFillers">
  <app-filter (filtersChanged)="applyFilters($event)"></app-filter>
</p-sidebar>
<div class="center-screen">
  <div class="button-container">
    <button mat-button color="primary" (click)="handleFilters()">{{showFillers? "Close Filters" : "Open Filters"}}</button>
    <button
      *ngIf="user!== null && user.role === 'ADMIN'"
      style="width: 134px"
      mat-raised-button
      color="warn"
      type="button"
      (click)="onHandleEditMode()"
    >{{editMode? "Close edit mode" : "Edit product list"}}</button>
    <button
      *ngIf="editMode && user!== null && user.role === 'ADMIN'"
      style="margin-left: 10px; width: 134px"
      mat-raised-button
      color="primary"
      type="button"
      (click)="handleEditor()"
    >Add new product</button>
    <hr>
  </div>
  <div *ngFor="let product of productList" style="width: 245px; margin: 5px; display: inline-block">
    <app-product [product]="product" [editMode]="editMode"></app-product>
  </div>
  <div class="pull-right">
    <div class="button-container" *ngIf="!editMode">
      <button
        class="floatButton"
        mat-fab
        color="primary"
        [disabled]="isCartEmpty"
        routerLink="/cart"
        matBadge="{{cartQuantity}}"
        matBadgePosition="before"
        matBadgeColor="warn">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>

